<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </style>
</head>
<body>
        <h1>Register User</h1>
    <form method="POST" action="">
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="" placeholder="Enter Name"><br>
        <label for="mobile">Mobile:</label><br>
        <input type="number" name="mobile" id="" placeholder="Enter Mobile Number"><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="" placeholder="Enter Email"><br>
        <label for="address">Address:</label><br>
        <input type="text" name="address" id="" placeholder="Enter Address"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" id="" placeholder="Enter Password"><br><br>
        <input type="text" name="" id="">
        <button>Register</button>
    </form>
</body>
</html>